@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
  }

/* ================ CHAT ================ */

.bg-chat {
    background: rgb(19,18,26);
    background: linear-gradient(120deg, rgba(19,18,26,1) 0%, rgba(30,29,37,1) 63%);
    -webkit-box-shadow: 0px 0px 127px -9px rgba(63,34,156,1);
    -moz-box-shadow: 0px 0px 127px -9px rgba(63,34,156,1);
    box-shadow: 0px 0px 127px -9px rgba(63,34,156,1);
}

.send-menssage {
    animation: newMessage 0.5s forwards;
    position: relative;
    left: 0;
}

@keyframes newMessage {
    from {
        opacity: 0;
        top: 100px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

.bg-header-chat {
    background-image: url("/background/bg-chat.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ==================== header Home ======================= */
.bg-header-home {
    background-image: url("/background/full-size_01.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat-img {
    background-image: url("/chat.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-short-span {
    background-image: url("/bg-span-short.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-span {
    background-image: url("/bg-span.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ==================== features ========================== */

.text-ai-gradient {
    background: linear-gradient(to right, #f82a8d, #8045fe);
    -webkit-background-clip: text;
    color: transparent;
}

.bg-features {
    background-image: url("/background/full-size_03.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-biuld-with-ai {
  /* From https://css.glass */
background: rgba(9, 5, 28, 0.6);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
border: 1px solid rgba(9, 5, 28, 0.19);
}

.glass-white {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}

.card-features {
    @apply flex flex-col items-center justify-center text-center w-[300px] p-5;
}

.glass-card {
    /* From https://css.glass */
background: rgba(16, 12, 39, 0.37);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
}
/* ===================== about ============================= */

.bg-about {
    background-image: url("/background/full-size_02.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ==================== feedback ========================== */

.bg-feedback {
    background-image: url("/background/full-size_04.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-feedback-gradient {
    background: rgb(1,6,26);
    background: linear-gradient(0deg, rgba(1,6,26,1) 40%, rgba(74,29,133,1) 61%, rgba(210,183,224,1) 100%);
}